# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Egg / build artifacts
*.egg-info/
*.egg
dist/
build/

# SLURM output logs
slurm/output/

cocoa_inference_testing/scope_reach_output

cocoa_inference_testing/trajectories
# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db